* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: relative;
    display: flex;
    height: 200px;
    width: 100%;
    background-color: rgb(43, 41, 124);
    justify-content: space-between;
}

h2 {
    position: absolute;
    top: 0;
    background-color: rgb(43, 41, 124);
    color: white;
    padding: 10px;
    transition: left 0.3s;
    
    padding-top: 140px;
    padding-left: 60px;
    min-width: 500px;
    font-family: Helvetica, Arial, sans-serif;
}

h3 {
    color: aliceblue;
    text-align: right; 
    margin-left: 900px;
    margin-top: 30px;
    margin-right: 30px;
    font-size: medium;
    min-width: 200px;
}

img {
    float: right;
    margin-top: 25px;
    margin-right: 30px;
    height: 150px;
    width: 150px;
}

#logo:hover + h2 {
    left: 0; 
    transition-delay: 0.3s;
}